<div class="p-6 bg-gradient-to-br from-white to-gray-50 rounded-xl shadow-2xl w-full mx-auto my-4">
    <form class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6" [formGroup]="form">
      <!-- Reusable Input Component -->
      <div class="relative group">
        <label class="text-sm text-gray-600 font-medium block mb-1">Employee First Name</label>
        <input type="text"
        formControlName="empFirstName"
        placeholder="John" class="w-full px-3 py-2 text-gray-800 dark:text-gray-100 bg-white dark:bg-[#2a2b2f] rounded-lg border border-gray-300 dark:border-gray-600 focus:border-[#6B7C9D] focus:ring-3 focus:ring-[#6B7C9D] focus:outline-none shadow-sm transition-all duration-200">
      </div>
  
      <div class="relative group">
        <label class="text-sm text-gray-600 font-medium block mb-1">Employee Last Name</label>
        <input type="text" 
        formControlName="empLastName"
        placeholder="Doe" class="w-full px-3 py-2 text-gray-800 dark:text-gray-100 bg-white dark:bg-[#2a2b2f] rounded-lg border border-gray-300 dark:border-gray-600 focus:border-[#6B7C9D] focus:ring-3 focus:ring-[#6B7C9D] focus:outline-none shadow-sm transition-all duration-200">
        
      </div>
  
      <div class="relative group">
        <label class="text-sm text-gray-600 font-medium block mb-1">Father's Name</label>
        <input type="text" 
        formControlName="empFatherName"
        placeholder="Michael" class="w-full px-3 py-2 text-gray-800 dark:text-gray-100 bg-white dark:bg-[#2a2b2f] rounded-lg border border-gray-300 dark:border-gray-600 focus:border-[#6B7C9D] focus:ring-3 focus:ring-[#6B7C9D] focus:outline-none shadow-sm transition-all duration-200">
      </div>
  
      <div class="relative group">
        <label class="text-sm text-gray-600 font-medium block mb-1">Vehicle Brand</label>
        <input type="text" 
        formControlName="vehBrand"
        placeholder="Toyota" class="w-full px-3 py-2 text-gray-800 dark:text-gray-100 bg-white dark:bg-[#2a2b2f] rounded-lg border border-gray-300 dark:border-gray-600 focus:border-[#6B7C9D] focus:ring-3 focus:ring-[#6B7C9D] focus:outline-none shadow-sm transition-all duration-200">
      </div>
  
      <div class="relative group">
        <label class="text-sm text-gray-600 font-medium block mb-1">Vehicle Model</label>
        <input type="text" 
        formControlName="vehModel"
        placeholder="Corolla" class="w-full px-3 py-2 text-gray-800 dark:text-gray-100 bg-white dark:bg-[#2a2b2f] rounded-lg border border-gray-300 dark:border-gray-600 focus:border-[#6B7C9D] focus:ring-3 focus:ring-[#6B7C9D] focus:outline-none shadow-sm transition-all duration-200">
      </div>
  
      <div class="relative group">
        <label class="text-sm text-gray-600 font-medium block mb-1">Service Name</label>
        <input type="text" 
        formControlName="servName"
        placeholder="Oil Change" class="w-full px-3 py-2 text-gray-800 dark:text-gray-100 bg-white dark:bg-[#2a2b2f] rounded-lg border border-gray-300 dark:border-gray-600 focus:border-[#6B7C9D] focus:ring-3 focus:ring-[#6B7C9D] focus:outline-none shadow-sm transition-all duration-200">
      </div>
  
      <div class="relative group">
        <label class="text-sm text-gray-600 font-medium block mb-1">Customer First Name</label>
        <input type="text"
        placeholder="Sarah" 
        formControlName="custFirstName"
        class="w-full px-3 py-2 text-gray-800 dark:text-gray-100 bg-white dark:bg-[#2a2b2f] rounded-lg border border-gray-300 dark:border-gray-600 focus:border-[#6B7C9D] focus:ring-3 focus:ring-[#6B7C9D] focus:outline-none shadow-sm transition-all duration-200">
      </div>
      <div class="relative group">
        <label class="text-sm text-gray-600 font-medium block mb-1">Customer Last Name</label>
        <input type="text"
        placeholder="John" 
        formControlName="custLastName"
        class="w-full px-3 py-2 text-gray-800 dark:text-gray-100 bg-white dark:bg-[#2a2b2f] rounded-lg border border-gray-300 dark:border-gray-600 focus:border-[#6B7C9D] focus:ring-3 focus:ring-[#6B7C9D] focus:outline-none shadow-sm transition-all duration-200">
      </div>
      <div class="relative group">
        <label class="text-sm text-gray-600 font-medium block mb-1">Customer Father Name</label>
        <input type="text"
        placeholder="Doe" 
        formControlName="custFatherName"
        class="w-full px-3 py-2 text-gray-800 dark:text-gray-100 bg-white dark:bg-[#2a2b2f] rounded-lg border border-gray-300 dark:border-gray-600 focus:border-[#6B7C9D] focus:ring-3 focus:ring-[#6B7C9D] focus:outline-none shadow-sm transition-all duration-200">
      </div>
  
      <!-- Submit -->
      <div class="col-span-full flex justify-end">
        <button
        (click)="submit()"
        type="submit" class="bg-orange-500 hover:bg-orange-600 text-white font-bold px-6 py-2 rounded-lg shadow-md hover:shadow-lg transition-transform transform hover:-translate-y-0.5">
          Apply Filters
        </button>
      </div>
    </form>
  </div>

  <app-generic-table
  class="w-full"
  [data]="maintenances"
  [columns]="columns"
  >
  </app-generic-table>
  