.dynamic-font {
  font-size: clamp(18px, 1.9vw, 23px);
}
/* Custom scrollbar for WebKit browsers (Chrome, Edge, Safari) */
.sidebar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  scroll-behavior: smooth; /* Smooth scrolling */

}

.sidebar::-webkit-scrollbar-track {
  background: #1e3a8a; /* Track color (dark blue) */
  border-radius: 4px; /* Rounded corners */
}

.sidebar::-webkit-scrollbar-thumb {
  background: #3b82f6; /* Thumb color (blue) */
  border-radius: 4px; /* Rounded corners */
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #2563eb; /* Thumb color on hover (darker blue) */
}

/* Custom scrollbar for Firefox */
.sidebar {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #3b82f6 #1e3a8a; /* Thumb and track color */
}
