<!-- generic-table.component.html -->
<div class="">
    <table class="min-w-full bg-white border border-gray-300">
      <!-- Table Header -->
      <thead>
        <tr class="bg-gray-100">
          <th *ngFor="let column of columns" class="px-4 py-2 border">
            {{ column.header }}
          </th>
        </tr>
      </thead>
      <!-- Table Body -->
      <tbody>
        <tr *ngFor="let row of data" class="hover:bg-gray-50">
          <td *ngFor="let column of columns" class="px-4 py-2 border">
            {{ row[column.key] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>