<div class="overflow-x-auto max-h-100 border-[0.5px] border-gray-500">
  <table class="min-w-full divide-y divide-gray-200 bg-white">
    <!-- Table Header -->
    <thead>
      <tr class="border border-blue-800 dark:border-gray-800
        bg-[#6B7C9D] text-black dark:bg-[#131212] dark:text-white">
        
        <!-- Counter Column Header -->
        <th class="p-2 text-center font-medium tracking-wider">#</th>
        
        <th *ngFor="let column of columns" class="p-2 text-center font-medium tracking-wider">
          {{ column.header }}
        </th>

        <th *ngIf="showActions">Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="let row of data; let i = index"
        [ngClass]="{'cursor-pointer dark:hover:bg-gray-300 hover:text-black hover:bg-blue-300 hover:text-md transition-all duration-300 ease-in-out transform': canSelect}"
        class="border border-blue-800 dark:border-gray-800
        bg-white dark:bg-[#F9F6EE] 
        text-center text-sm font-medium text-gray-700 tracking-wider"
        (click)="selectRow(row)"
        [class.selected]="selectedRow === row"
      >

        <!-- Counter Cell -->
        <td class="py-4">{{ i + 1 }}</td>

        <td *ngFor="let column of columns" class="py-4">
          {{ getNestedValue(row, column.key) }}
        </td>

        <!-- Actions -->
        <td *ngIf="showActions" (click)="$event.stopPropagation()">
          <button *ngIf="canUpdate"
            class="mr-4 text-center text-md text-indigo-600 hover:text-indigo-900 rounded hover:bg-indigo-50"
            (click)="update(row)">
            <i class="bi bi-pencil"></i>
          </button>
          <button *ngIf="canDelete"
            class="text-center text-md text-red-500 hover:text-red-900 rounded hover:bg-red-50"
            (click)="delete(row)">
            <i class="bi bi-trash"></i>
          </button>
        </td>

      </tr>
    </tbody>
  </table>
</div>
