	<footer class="z-1 p-1 px-2 bg-[#212227] dark:bg-gray-700">
		<div class="sm:flex sm:items-center sm:justify-between">
			<!-- Logo -->
			<div class="flex py-2 text-center my-font">
				@if (tenant) {
				  <img [src]="imageUrl" alt="Downloaded Image bg-white" class="w-12 h-10 object-cover" />
				  <h1 class="text-2xl ml-1 px-2 py-1 text-white">{{ tenant }}</h1>
				}
			  </div>
			<!-- Items -->
			<ul class="flex flex-wrap items-center m-2">
				<li>
					<a href="#" class="mr-4 text-sm text-gray-500  md:mr-6 dark:text-gray-400">About</a>
				</li>
				<li>
					<a href="#" class="mr-4 text-sm text-gray-500  md:mr-6 dark:text-gray-400">Privacy
						Policy</a>
				</li>
			</ul>
		</div>
		<!-- Copy Right -->
		<span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2025 Garage Master. All Rights Reserved.
    </span>
	</footer>
	
