<app-generic-form [title]="'View Maintenace Card'" (closeModal)="closeFormAndDestroy()">
<form [formGroup]="form" class="my-3">
    <!-- First Row -->
    <h3 class="text-lg font-bold text-black dark:text-[#eee] m-3">Maintenance Information</h3>
    <div class="flex flex-wrap gap-2 m-3">
        <div class="relative flex-1 min-w-[200px]">
            <label class="block text-sm font-medium text-black dark:text-gray-400 mb-2">Card Number</label>
            <div class="relative">
                <input
                class="px-3 py-2 pr-10
                    text-md text-gray-800 dark:text-gray-100
                    input-class w-full 
                    bg-zinc-300 dark:bg-[#2a2b2f] 
                    rounded border border-gray-300 dark:border-gray-700 
                    focus:border-[#6B7C9D] focus:ring-3 focus:ring-[#6B7C9D] focus:outline-none"
                formControlName="maintenanceNumber"
                readonly
                />
                <span
                class="absolute top-1/2 right-3 -translate-y-1/2 w-4 h-4 rounded-full"
                [ngClass]="{
                'bg-green-500': form.get('status')?.value === 'Completed',
                'bg-orange-500': form.get('status')?.value === 'Pending',
                'bg-red-500': form.get('status')?.value === 'Canceled',
                }">
                </span>
            </div>
        </div>
    </div>

    <div class="flex flex-wrap gap-2 m-3">
        <div class="flex-1 min-w-[200px]">
            <label class="block text-sm font-medium text-black dark:text-gray-400 mb-2">Date In</label>
            <input  class="px-3 py-2 
                text-md text-gray-800 dark:text-gray-100
                input-class w-full 
                bg-zinc-300 dark:bg-[#2a2b2f] 
                rounded border border-gray-300 dark:border-gray-700 
                focus:outline-none cursor-default"  formControlName="dateIn" readonly />
        </div> 
        <div class="flex-1 min-w-[200px]">
            <label class="block text-sm font-medium text-black dark:text-gray-400 mb-2">Date Out</label>
            <input  class="px-3 py-2 
                text-md text-gray-800 dark:text-gray-100
                input-class w-full 
                bg-zinc-300 dark:bg-[#2a2b2f] 
                rounded border border-gray-300 dark:border-gray-700 
                focus:outline-none cursor-default"  formControlName="dateOut" readonly />
        </div>
    </div>
    
    <h3 class="text-lg font-bold text-black dark:text-[#eee] m-3">Customer Information</h3>
    <div class="flex flex-wrap gap-2 m-3">
        <div class="flex-1 min-w-[200px]">
            <label class="block text-sm font-medium text-black dark:text-gray-400 mb-2">Customer Frist Name</label>
            <input  class="px-3 py-2 
                text-md text-gray-800 dark:text-gray-100
                input-class w-full 
                bg-zinc-300 dark:bg-[#2a2b2f] 
                rounded border border-gray-300 dark:border-gray-700 
                focus:outline-none cursor-default"  formControlName="customerFirstName" readonly />
        </div> 
        <div class="flex-1 min-w-[200px]">
            <label class="block text-sm font-medium text-black dark:text-gray-400 mb-2">Customer Father Name</label>
            <input  class="px-3 py-2 
                text-md text-gray-800 dark:text-gray-100
                input-class w-full 
                bg-zinc-300 dark:bg-[#2a2b2f] 
                rounded border border-gray-300 dark:border-gray-700 
                focus:outline-none cursor-default"  formControlName="customerFatherName" readonly />
        </div>
        <div class="flex-1 min-w-[200px]">
            <label class="block text-sm font-medium text-black dark:text-gray-400 mb-2">Customer Last Name</label>
            <input  class="px-3 py-2 
                text-md text-gray-800 dark:text-gray-100
                input-class w-full 
                bg-zinc-300 dark:bg-[#2a2b2f] 
                rounded border border-gray-300 dark:border-gray-700 
                focus:outline-none cursor-default"  formControlName="customerLastName" readonly />
        </div>
    </div>
    <!-- Fifth Row -->
    <h3 class="text-lg font-bold text-black dark:text-[#eee] m-3">Customer Vehicle Information</h3>
    <div class="flex flex-wrap gap-2 m-3">
        <div class="flex-1 min-w-[200px]">
            <label class="block text-sm font-medium text-black dark:text-gray-400 mb-2">Vehicle Identification Number (VIN)</label>
            <input  class="px-3 py-2 
                text-md text-gray-800 dark:text-gray-100
                input-class w-full 
                bg-zinc-300 dark:bg-[#2a2b2f] 
                rounded border border-gray-300 dark:border-gray-700 
                focus:outline-none cursor-default"  formControlName="vin" readonly />
        </div> 
    </div>
    <!-- Sixth Row -->
    <div class="flex flex-wrap gap-2 m-3">
        <div class="flex-1 min-w-[200px]">
            <label class="block text-sm font-medium text-black dark:text-gray-400 mb-2">Vehicle Brand </label>
            <input  class="px-3 py-2 
                text-md text-gray-800 dark:text-gray-100
                input-class w-full 
                bg-zinc-300 dark:bg-[#2a2b2f] 
                rounded border border-gray-300 dark:border-gray-700 
                focus:outline-none cursor-default"  formControlName="brand" readonly />
        </div> 
        <div class="flex-1 min-w-[200px]">
            <label class="block text-sm font-medium text-black dark:text-gray-400 mb-2">Vehicle Model</label>
            <input  class="px-3 py-2 
                text-md text-gray-800 dark:text-gray-100
                input-class w-full 
                bg-zinc-300 dark:bg-[#2a2b2f] 
                rounded border border-gray-300 dark:border-gray-700 
                focus:outline-none cursor-default"  formControlName="model" readonly />
        </div> 
        <div class="flex-1 min-w-[200px]">
            <label class="block text-sm font-medium text-black dark:text-gray-400 mb-2">Vehicle Model Year </label>
            <input  class="px-3 py-2 
                text-md text-gray-800 dark:text-gray-100
                input-class w-full 
                bg-zinc-300 dark:bg-[#2a2b2f] 
                rounded border border-gray-300 dark:border-gray-700 
                focus:outline-none cursor-default"  formControlName="yearModel" readonly />
        </div> 
    </div>
    <!-- Seventh Row -->
    <div class="flex flex-wrap gap-2 m-3">
        <div class="flex-1 min-w-[200px]">
            <label class="block text-sm font-medium text-black dark:text-gray-400 mb-2">Vehicle Plate</label>
            <input  class="px-3 py-2 
                text-md text-gray-800 dark:text-gray-100
                input-class w-full 
                bg-zinc-300 dark:bg-[#2a2b2f] 
                rounded border border-gray-300 dark:border-gray-700 
                focus:outline-none cursor-default"  formControlName="plate" readonly />
        </div> 
        <div class="flex-1 min-w-[200px]">
            <label class="block text-sm font-medium text-black dark:text-gray-400 mb-2">Vehicle Color </label>
            <input  class="px-3 py-2 
                text-md text-gray-800 dark:text-gray-100
                input-class w-full 
                bg-zinc-300 dark:bg-[#2a2b2f] 
                rounded border border-gray-300 dark:border-gray-700 
                focus:outline-none cursor-default"  formControlName="color" readonly />
        </div> 
    </div>
    </form>

    <h3 class="text-lg font-bold text-black dark:text-[#eee] m-3">Description Information</h3>
    <div class="m-3">
        <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700 border border-gray-800 dark:border-gray-600">
            <thead class="bg-[#6B7C9D]  text-white">
                <tr>
                <th class="px-4 py-2 text-left">Description</th>
                </tr>
            </thead>
            <tbody class="bg-zinc-300  text-gray-900 ">
                <tr *ngFor="let s of maintenance.maintenanceDescriptions">
                <td  class="px-4 py-2 ">{{s.text}}</td>
                </tr>
            </tbody>
        </table>
    </div>

<hr class="m-2 bg-gray-200">
    <!-- Services Table Section -->
    <h3 class="text-lg font-bold text-black dark:text-[#eee] m-3">Services Information</h3>
    <div class="m-3">
        <div class="overflow-y-auto">
                <table class="min-w-full divide-y divide-gray-200 border border-gray-800">
                    <thead class="bg-[#6B7C9D] text-white">
                        <tr>
                        <th class="px-4 py-2 text-center min-w-[200px]">Service</th>
                        <th class="px-4 py-2 text-center w-24">Completed</th>
                        <th class="px-4 py-2 text-center w-24">Pending</th>
                        <th class="px-4 py-2 text-center w-24">Canceled</th>
                        <th class="px-4 py-2 text-center min-w-[150px]">Emp</th>
                        </tr>
                    </thead>
                    <tbody class="bg-zinc-300 dark:bg-gray-900 text-gray-900 dark:text-gray-100" >
                        <!-- Service Row -->
                    <ng-container *ngFor="let s of maintenance.maintenaceServices; let i = index">
                    <!-- Service Row -->
                    <tr>
                        <td class="px-4 py-3 text-sm font-semibold text-gray-800   whitespace-nowrap">
                            {{ i + 1 }}. {{ s.service?.name || 'Unnamed Service' }}
                        </td>
                        <!-- Completed -->
                        <td class="px-4 py-3 text-center border border-gray-300 dark:border-gray-700">
                            <button (click)="setStatusForService(s, 'completed')"
                                    class="w-8 h-8 flex items-center justify-center rounded-full transition
                                            text-gray-700"
                                    [ngClass]="{
                                        'bg-green-600': s.isCompleted,
                                        'bg-gray-300 dark:bg-gray-600': !s.isCompleted
                                    }"
                                    title="Completed">
                                ✓
                            </button>
                        </td>
                        <!-- Pending -->
                        <td class="px-4 py-3 text-center border border-gray-300 dark:border-gray-700">
                            <button (click)="setStatusForService(s, 'pending')"
                                    class="w-8 h-8 flex items-center justify-center rounded-full transition
                                            text-gray-700"
                                    [ngClass]="{
                                        'bg-yellow-500 ': s.isPending,
                                        'bg-gray-300 dark:bg-gray-600': !s.isPending
                                    }"
                                    title="Pending">
                                👁
                            </button>
                        </td>

                        <!-- Canceled -->
                        <td class="px-4 py-3 text-center border border-gray-300 dark:border-gray-700">
                            <button (click)="setStatusForService(s, 'canceled')"
                                    class="w-8 h-8 flex items-center justify-center rounded-full transition
                                            text-gray-700"
                                    [ngClass]="{
                                        'bg-red-600': s.isCanceled,
                                        'bg-gray-300 dark:bg-gray-600': !s.isCanceled
                                    }"
                                    title="Canceled">
                                ✗
                            </button>
                        </td>
                    <!-- Employee Selector -->
                    <td class="px-4 py-2">
                        <ng-container *ngIf="s.employeeMaintaineds?.length">
                        <ul class="list-disc pl-4">
                            <li *ngFor="let emp of s.employeeMaintaineds">
                                {{ emp.employee?.firstName }} {{ emp.employee?.lastName }}
                            </li>
                        </ul>
                        </ng-container>
                    </td>
                    </tr>
                    <!-- Notes -->
                    <tr *ngFor="let note of s.maintenanceServiceNotes; let j = index">
                    <td colspan="4"
                    class="px-6 py-4">
                        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                            <!-- Note -->
                            <div>
                            <label class="text-sm font-medium ">Note</label>
                            <textarea [(ngModel)]="note.text"
                            [disabled]="!!note.createdBy && note.createdBy != currentUserId"
                            class=" p-2
                            disabled:bg-[#353535] disabled:dark:bg-gray-700
                            disabled:text-white disabled:cursor-not-allowed
                            text-md text-gray-800 dark:text-gray-100
                            input-class w-full 
                            bg-white dark:bg-[#2a2b2f] 
                            rounded border border-gray-300 dark:border-gray-700 
                            focus:border-[#6B7C9D] focus:ring-3 focus:ring-[#6B7C9D] focus:outline-none"            
                            ></textarea>
                            </div>

                            <!-- Fault Code -->
                            <div>
                            <label class="text-sm font-medium ">Fault Code</label>
                            <textarea [(ngModel)]="note.fualtCode"
                            [disabled]="!!note.createdBy && note.createdBy != currentUserId"
                            class=" p-2
                            disabled:bg-[#353535] disabled:dark:bg-gray-700
                            disabled:text-white disabled:cursor-not-allowed
                            text-md text-gray-800 dark:text-gray-100
                            input-class w-full 
                            bg-white dark:bg-[#2a2b2f] 
                            rounded border border-gray-300 dark:border-gray-700 
                            focus:border-[#6B7C9D] focus:ring-3 focus:ring-[#6B7C9D] focus:outline-none">
                            </textarea>
                            </div>

                            <!-- How to Fix It -->
                            <div>
                            <label class="text-sm font-medium">How to Fix It</label>
                            <textarea [(ngModel)]="note.howToFixIt"
                            [disabled]="!!note.createdBy && note.createdBy != currentUserId"
                            class=" p-2
                            disabled:bg-[#353535] disabled:dark:bg-gray-700
                            disabled:text-white disabled:cursor-not-allowed
                            text-md text-gray-800 dark:text-gray-100
                            input-class w-full 
                            bg-white dark:bg-[#2a2b2f] 
                            rounded border border-gray-300 dark:border-gray-700 
                            focus:border-[#6B7C9D] focus:ring-3 focus:ring-[#6B7C9D] focus:outline-none">
                            </textarea>
                            </div>
                            </div>

                        <!-- Delete Note Button -->
                        <div *ngIf="!note.id" class="text-right">
                            <button (click)="removeNewNote(s, j)" class="text-sm bg-red-600 text-white px-3 py-1 rounded hover:bg-red-700">
                            Delete Note
                            </button>
                        </div>
                        </td>
                        <td class="m-2" >
                        <label class="block text-sm font-semibold text-gray-700 dark:text-gray-300 mb-1">
                            <span class="flex items-center space-x-1">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-red-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A9.001 9.001 0 0112 3a9.001 9.001 0 016.879 14.804M15 11a3 3 0 11-6 0 3 3 0 016 0zm-6 8h6" />
                            </svg>
                            <span class="text-red-600">Created By</span>
                            </span>
                        </label>

                        <div class="bg-red-100 dark:bg-red-800 text-red-800 dark:text-red-200 p-2 rounded text-lg font-medium shadow-sm">
                            {{ getEmployeeName(note.createdBy!) || 'Loading...' }}
                        </div>
                        </td>
                    </tr>
                    <!-- Add Note Button -->
                    <tr class="border-t border-gray-300 dark:border-gray-700 bg-gray-100 dark:bg-gray-900">
                        <td colspan="10" class="px-6 py-3 text-right">
                        <button (click)="addNoteToService2(s)"
                                class="bg-blue-600 text-white text-sm px-4 py-2 rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-[#6B7C9D]">
                            + Add Note
                        </button>
                        </td>
                    </tr>
                    </ng-container>

                    </tbody>
                    </table>
                </div>
            </div>
<!-- Action Buttons -->
    <div class="flex justify-between items-center p-4 border-t border-gray-200 dark:border-gray-700">
        <button 
        class="px-4 py-2 bg-green-600 text-white rounded-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 transition-colors"
        (click)="saveUpdatedMaintenance()">
        Save Changes
        </button>
    </div>

</app-generic-form>