@if (viewCustomerCars) {
<div class="w-[98%] mx-auto h-full">
    <!-- Back Icon -->
    <div> 
        <p (click)="backToSearchCustomer()" class="p-2 text-3xl cursor-pointer w-[fit-content]"><i class="bi bi-arrow-left"></i></p>
    </div>
    <!-- Pay Attention to The selected Customer -->
    @if(vehicles){  
        <h1 class="text-[#ff0000] text-2xl "><B>{{customerFirstName}} {{customerLastName}}'s Vehicles</B></h1>
    }
    <!-- All customer "Selected one " Cras In A Table -->
    @if(vehicles && !selectedVehicle){
        <app-generic-table class="w-[full]" [data]="vehicles" [columns]="columns" 
        (rowSelected)="handleRowSelection($event)"
        [showActions]="true" 
        [canUpdate]="true" 
        [canDelete]="true"
        (updateClicked)="updateVehicle($event)" 
        (deleteClicked)="deleteVehicle($event)">>
        ></app-generic-table>
        <!-- Add New Car Button To open the form-->
        @if (viewAddCar) {
            <button class="m-2 p-2 bg-blue-500 text-white rounded hover:dark:bg-blue-800 duration-200" (click)="openFormToAddCar()">+ Add New Car</button>
        }
        <!-- Add New Car Button To open the form-->

        @if(isFormOpen){
            <app-add-car-form (closeForm)="isFormOpen = false" (submitForm)="handleCarAdded($event)"></app-add-car-form>
        }
    }
    
    @if(selectedVehicle){
        <div class=" bg-[#212227] p-4 rounded-lg shadow-lg my-4 ">
            <!-- Car Details -->
            <div class="flex flex-col md:flex-row justify-between items-stretch gap-4">
                <i class="text-4xl bi bi-car-front-fill text-white items-center"></i>
                <!-- Titles and Values -->
                <div class="w-full bg-white p-4 rounded-lg shadow">
                    <p class="text-xl font-semibold text-red-600 mb-3">The Selected Car is:</p>
                
                <div class="grid grid-cols-2 gap-x-10 gap-y-2">
                    <!-- Column 1 -->
                    <div>
                    <p class="font-bold  text-xl text-gray-600">VIN</p>
                    <p>{{ selectedVehicle.vin }}</p>
                    </div>
                    <div>
                    <p class="font-bold  text-xl text-gray-600">Brand</p>
                    <p>{{ selectedVehicle.vehicleModel?.vehicleBrand?.name }}</p>
                    </div>
                
                    <div>
                    <p class="font-bold  text-xl text-gray-600">Model</p>
                    <p>{{ selectedVehicle.vehicleModel?.name }}</p>
                    </div>
                    <div>
                    <p class="font-bold  text-xl text-gray-600">Year</p>
                    <p>{{ selectedVehicle.yearModel }}</p>
                    </div>
                
                    <div>
                    <p class="font-bold  text-xl text-gray-600">Engine</p>
                    <p>{{ selectedVehicle.engineStructure?.engineType }} {{ selectedVehicle.numberOfCylinders }} Cylinders</p>
                    </div>
                    <div>
                    <p class="font-bold  text-xl text-gray-600">Fuel</p>
                    <p>{{ selectedVehicle.engineFuel?.engineFuelType }}</p>
                    </div>
                
                    <div>
                    <p class="font-bold  text-xl text-gray-600">Charger</p>
                    <p>{{ selectedVehicle.engineCharger?.engineChargerName }}</p>
                    </div>
                    <div>
                    <p class="font-bold  text-xl text-gray-600">Color</p>
                    <p>{{ selectedVehicle.customerVehicleColors?.[0]?.color?.name }}</p>
                    </div>
                
                    <div>
                    <p class="font-bold  text-xl text-gray-600">Plate</p>
                    <p>{{ selectedVehicle.customerVehiclePlates?.[0]?.plate?.letters }}</p>
                    </div>
                    <div>
                    <p class="font-bold  text-xl text-gray-600">Plate-N</p>
                    <p>{{ selectedVehicle.customerVehiclePlates?.[0]?.plate?.numbers }}</p>
                    </div>
                </div>
                </div>

            <!-- Action Buttons -->
                <div class="w-full md:w-1/2 flex flex-col justify-center bg-white gap-3 p-4 rounded-lg shadow">
                    <form [formGroup]="form">
                        <div class="mb-4">
                            <label for="km" class="block text-sm font-medium text-gray-700">Kilometers</label>
                            <input
                            id="km"
                            formControlName="km"
                            placeholder="Enter KM"
                            type="number"
                            min
                            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
                            />
                            <div *ngIf="form.get('km')?.invalid && form.get('km')?.touched" class="text-red-500 text-sm mt-1">
                            KM is required.
                            </div>
                        </div>
                        <button
                        class="w-full p-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-200"
                        (click)="addNewMaintenanceForCurrentVehicle()">
                        Open A New Maintenance Card 
                        </button>
                    </form>

                    <button
                    class="w-full p-2 bg-orange-500 text-white rounded hover:bg-orange-600 transition-colors duration-200"
                    (click)="changeCar()">
                    Select another Car
                    </button>
                </div>
            </div>
        </div>
    }

</div>  
}

