<div class="m-3">
    <div> 
        <p (click)="backToSearchCustomer()"> back to </p>
    </div>
    <h3>{{customerFirstName}} {{customerLastName}}'s Vehicles</h3>
    @if(vehicles && !selectedVehicle){
        <app-generic-table class="w-[full]" [data]="vehicles" [columns]="columns" 
        (rowSelected)="handleRowSelection($event)">
        ></app-generic-table>
        <button class="m-2 p-2 bg-blue-500 text-white rounded hover:dark:bg-blue-800 duration-200" (click)="openFormToAddCar()">+ Add New Car</button>
        @if(isFormOpen){
            <app-add-car-form  (closeForm)="isFormOpen = false"></app-add-car-form>
        }
    }
    @if(selectedVehicle){
    <div class="flex items-center gap-2 my-4">
        <div class=" text-xl divt-3 ">
                <span class="text-[#ff0000]"> The selected Car is : </span> 
                -
                {{ selectedVehicle.vehicleModel?.vehicleBrand?.name }}
                {{ selectedVehicle.vehicleModel?.name }}
                {{ selectedVehicle.yearModel}} -
                {{ selectedVehicle.engineStructure?.engineType }}
                {{ selectedVehicle.engineFuel?.engineFuelType }} 
                - {{ selectedVehicle.numberOfCylinders}} Cylinders -         
        </div>
        <button
            class="p-1.5 bg-blue-500 text-white rounded hover:dark:bg-blue-800 transition-colors duration-200"
            (click)="changeCar()">
            Want to change the car?
        </button>
    </div>
    }
</div>  
