<nav class="container">
    <div class="d-flex justify-content-between align-items-center flex-wrap">
      <!-- Menu Icon (Left) -->
      <div class="contain-menu"  routerLink="aboutUs"  appHoverScale>
        <img [src]="imagePaths.menu" alt="menu icon" class="img-fluid">
      </div>
  
      <!-- Logo (Center) -->
      <div class="contain-logo" routerLink=""  appHoverScale>
        <img [src]="imagePaths.logo" alt="logo image" class="img-fluid">
      </div>
  
      <!-- Login Icon (Right) -->
      <div class="contain-login" routerLink="login"  appHoverScale>
        <img [src]="imagePaths.login" draggable="false" alt="login icon" class="img-fluid">
      </div>
    </div>
  </nav>
  