<div class="w-[98%]  mx-auto h-full">
    <!-- Header Section -->
    <div class="bg-[#6B7C9D] p-2 rounded-lg shadow-lg mt-2">
        <div class="flex flex-col md:flex-row justify-between items-stretch gap-2">
            <!-- Vehicle Maintenance -->
            <div class="flex items-center gap-3 w-full md:w-1/3 bg-white p-2 rounded-lg shadow">
                <i class="text-5xl bi bi-tools"></i>
                <div>
                    <p class="text-xl font-semibold">Maintenance Card</p>
                    <p class="text-gray-600"> {{maintenanceCard?.maintenanceNumberForEachTenant}} </p>
                </div>
            </div>

            <!-- Customer Information -->
            <div class="flex items-center gap-3 w-full md:w-1/3 bg-white p-2 rounded-lg shadow">
                <i class="text-5xl bi bi-person"></i>
                <div>
                    <p class="text-xl font-semibold">Customer</p>
                    <p class="text-gray-700">{{customerCar?.customer?.firstName}} {{customerCar?.customer?.lastName}}</p>
                    <p class="text-gray-700">{{customerPhoneNumber?.number || "No phone number"}}</p>
                </div>
            </div>
    
            <!-- Vehicle Information -->
            <div class="flex items-center gap-3 w-full md:w-1/3 bg-white p-2 rounded-lg shadow ">
                <i class="text-5xl bi bi-car-front-fill"></i>
                <div>
                    <p class="text-xl font-semibold">Vehicle</p>
                    <p class="text-gray-700">{{customerCar?.vehicleModel?.vehicleBrand?.name}} - {{customerCar?.vehicleModel?.name}}</p>
                    <p class="text-gray-700">
                        {{ customerCar?.customerVehiclePlates?.[0]?.plate?.letters ?? 'N/A' }}
                    </p>
                    <p class="text-gray-700">
                        {{ customerCar?.customerVehiclePlates?.[0]?.plate?.numbers ?? 'N/A' }}
                    </p>
                    <p class="text-gray-700">Color</p>
                    <p class="text-gray-700"> {{maintenanceCard?.kilometers}} </p>
                </div>
            </div>
        </div>
    </div>
</div>

