/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nova+Slim&display=swap');
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Nova+Slim&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

body {
  font-family: "Winky Rough", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*****************************************************
	Custom styling example bellow.
*****************************************************/


ngx-intl-tel-input.ng-invalid.ng-touched input {
    border: 1px solid #cd4536;
}

ngx-intl-tel-input.ng-invalid.ng-touched input:focus {
    border-color: #cd4536;
    box-shadow: 0 0 0 3px #cd4536;
}

ngx-intl-tel-input input[disabled] {
    background-color: #f4f4f5;  
}

.iti {
    display: block !important;
    width: 100% !important;
}

.iti--allow-dropdown{
    width: 100% !important;
}
.dropdown-menu {
    width: 25.5vw !important;
}
.iti__selected-flag {
  color: #6B7C9D ;

}
@media (max-width: 1280px) {
    .dropdown-menu {
        width: 23.5vw !important;
    }
}
@media (max-width: 1180px) {
    .dropdown-menu {
        width: 23.5vw !important;
    }
}

@media (max-width: 768px) {
    .dropdown-menu {
        width: 55vw !important;
    }
}

.iti .dropdown-menu.iti__dropdown-content {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-color: #0c6eee;
    margin-top: -1px;
}

.dropdown-menu.iti__dropdown-content.show{
    /* width: 100% !important;
    position: absolute; */
}

.iti .iti__country-list {
    box-shadow: none;
    font-size: 14px;
    margin-left: 0;
    max-height: 370px;
    width: 100%;
  }
  
  /* .iti__flag-container.open + input {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  } */
  
  /* .iti .search-container input {
    width: 100%;
    font-size: 14px;
    border-color: #c7cace;
    border-radius: 0;
    padding: 5px 10px;
  }
  
  .iti .search-container input:focus {
    outline: none;
  } */
  
  /* @media screen and (max-width: 479px) {
    .iti .iti__country-list {
      width: 88.3vw;
    }
  } */
  
  * {
    scrollbar-width: thin;
    scrollbar-color: #6B7C9D transparent;
}

/* WebKit Browsers (Chrome, Safari, Edge) */
*::-webkit-scrollbar {
    width: 2px; /* Adjust width */
    height: 6px; /* For horizontal scrollbars */
}

*::-webkit-scrollbar-thumb {
    background-color: #6B7C9D; /* Scroll thumb color */
    border-radius: 6px; /* Round corners */
}

*::-webkit-scrollbar-track {
    background: transparent; /* Hide scrollbar track */
}

/* Hide Scrollbar but Keep Scrolling */
.hide-scrollbar {
    scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
html {
    overflow: overlay;
}

  
  .loader {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    perspective: 800px;
  }
  
  .inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;  
  }
  
  .inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #2e2e8a;
  }
  
  .inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #2e2e8a;
  }
  
  .inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #2e2e8a;
  }
  
  @keyframes rotate-one {
    0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }
  @keyframes rotate-two {
    0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-three {
    0% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }