/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

*{
    margin: 0px;
    padding: 0px;
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.05rem;
}
.snack-bar-success {
    background-color: #4caf50 !important; /* Green color for success */
    color: white !important;
}

.snack-bar-error {
    background-color: #f44336 !important; /* Red color for error */
    color: white !important;
}