/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

*::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    scroll-behavior: smooth; /* Smooth scrolling */
    position: fixed;
  }
  
  *::-webkit-scrollbar-track {
    background: #2d4546; /* Thumb color (blue) */
    border-radius: 4px; /* Rounded corners */
  }
  
  *::-webkit-scrollbar-thumb {
    background: #2d4546; /* Thumb color (blue) */
    border-radius: 4px; /* Rounded corners */
  }
  
    *::-webkit-scrollbar-thumb:hover {
      background: #2d4546; /* Thumb color (blue) */
    }
  
  /* Custom scrollbar for Firefox */
  * {
    scrollbar-width: thin; /* "auto" or "thin" */
    scrollbar-color:  #76ABAE; /* Thumb and track color */
  }
  