@media (max-width:768px) {
    .for-mobile {
        position: fixed;
        top: 0;
        left: 0;
        width: fit-content;
        z-index: 999;
        height: 100%;
    }
}


@media (max-width: 768px) {
    .mobile {
        display: inline-block;
        z-index: 999;
        font-size: 30px
    }
}