
<div class="form-container
p-2  border-[5px]">
  <!-- Title -->
   <div class="flex gap-3  items-center  p-2 ">
    <i class="bi bi-database-fill-add text-[35px]"></i>
    <p class="text-[35px] pt-2">Add Maintenance</p>
   </div>
   <!-- Form Content -->
  <form [formGroup]="form">
      <div class=" bg-gray-700 p-2 mx-auto">
        <div class="flex text-white gap-3">
        </div>
        <input
        type="text"
        formControlName="userName"
        placeholder="Search for a customer..."
        class="input-class  w-[80%] rounded-[5px]"
      />
    </div>
 
    </form>
    
    <!-- Customer Dropdown Menu -->
    <div *ngIf="customers$ | async as customers">
      <ul class="dropdown-class">
        <li *ngFor="let customer of customers" (click)="onSelectCustomer(customer)">
          {{ customer.firstName }} {{ customer.lastName }}
        </li>
      </ul>
    </div>
 
<hr>
  <!-- Customer Vehicles Dropdown (appears once a customer is selected) -->
  <div class="w-full max-w-sm" >
      <input type="text" placeholder="customerVehicles">
      <div *ngIf="vehicles$ | async as vehicles">
      <ul class="dropdown-class">
        <li *ngFor="let vehicle of vehicles">
          {{ vehicle }}
        </li>
      @if(flagCar){
        <li>
          + Add New Car
        </li>
      }
      </ul>
    </div>
  </div>
</div>