
<div class="form-container
h-full">
  <!-- Title -->
  <div class="flex gap-3 ml-5 items-center  p-2 ">
    <i class="bi bi-database-fill-add text-3xl lg:text-4xl]"></i>
    <p class="pt-3 text-2xl md:text-3xl lg:text-4xl">Add Maintenance</p>
  </div>
  <!-- Form Content -->
  <form [formGroup]="form">
    <div class="row-1 mx-auto w-[95%] flex gap-3">
      <input
        type="text"
        formControlName="userName"
        placeholder="First Name"
        class="input-class w-[31%] p-2 rounded-[5px] border-2 border-gray-700 
        focus:border-[#6B7C9D] focus:ring-3 focus:ring-[#6B7C9D] focus:outline-none"
        autofocus 
      />
      
      <input
        type="text"
        formControlName="userName"
        placeholder="Last Name"
        class="input-class w-[31%] p-2 rounded-[5px] border-2 border-gray-700 
        focus:border-[#6B7C9D] focus:ring-3 focus:ring-[#6B7C9D] focus:outline-none"
      />
      <input
        type="text"
        formControlName="userName"
        placeholder="Phone Number"
        class="input-class w-[31%] p-2 rounded-[5px] border-2 border-gray-700 
        focus:border-[#6B7C9D] focus:ring-3 focus:ring-[#6B7C9D] focus:outline-none"
      />
      <button class="w-[15%] p-2 rounded-[15px] border-2 border-gray-700">Search</button>

    </div>
    <div class="row-2 mt-3 bg-gray-200 mx-auto w-[90%]" *ngIf="customers$ | async as customers">
        <ul class="dropdown-class">
          <li class="p-2"
          *ngFor="let customer of customers" (click)="onSelectCustomer(customer)">
            {{ customer.firstName }} {{ customer.lastName }} 
          </li>
        </ul>    
    </div>
  </form>
</div> 